/**
*   MAIN 3D CANVAS
*/
canvas {
	background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.selected {
  background: #cc0000; /* Old browsers */
  background: -moz-linear-gradient(top, #cc0000 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cc0000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cc0000 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cc0000 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cc0000 0%,#000000 100%); /* W3C */
}

#gui button {
  cursor: url(../img/GUI/cursor_hover.png) 0 0, auto;
}


/**
*   TOP BAR
*/
#topBar {
  position: absolute;
  top: 10px;
  right: 25px;
}
#topBar div {
    display: inline-block;
    min-width: 65px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    vertical-align: top;
    line-height: 26px;
    margin-left: 30px;
    text-shadow: 1px 1px 2px #000000;
}
#resource0:before {
  margin-right: 8px;
  content: url('../img/GUI/ic_water.png');
}
#resource1:before {
  margin-right: 8px;
  content: url('../img/GUI/ic_wood.png');
}
#population:before {
  margin-right: 8px;
  content: url('../img/GUI/ic_pop.png');
}


/**
*   BOTTOM BAR
*/
#bottomBar {
  position: absolute;
  bottom: 0px;
  height: 120px;
  background: #000;
  opacity: 0.8;
  width: 88%;
  padding: 5px 0px 5px 0px;
  box-shadow: -17px 5px 21px 20px #000;
}
#toolbar {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
#toolbar button {
  padding: 5px;
  margin: 3px;
}
.tooltip {
  font-size: 15px;
  opacity: 0.9;
  background: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #000000;
}
#minimap {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 12%;
  background: #000;
  opacity: 0.8;
  box-shadow: 12px 5px 21px 20px #000;
}
#toolbar #specialButtons {
  display: block;
}
#listSelected {
  display: inline-block;
  width: 30%;
  height: 80%;
  vertical-align: top;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
#listSelected button {
  padding: 3px;
  margin: 3px; 
}

/**
*   INFO SECTION
*/
#infoSelected {
  display: inline-block;
  height: 80%;
  width: 30%;
  padding: 5px;
}
#infoSelected .stat {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
#infoSelected div:before {
  margin-right: 5px;
}
#rangeStat:before {
  content: url(../img/GUI/ic_range.png);
}
#fragsStat:before {
  content: url(../img/GUI/ic_frag.png);
}
#attackStat:before {
  content: url(../img/GUI/ic_attack.png);
}
#defenseStat:before {
  content: url(../img/GUI/ic_defense.png);
}
#popStat:before {
  content: url(../img/GUI/ic_pop20.png);
}
#attackSpeedStat:before {
  content: url(../img/GUI/ic_attackSpeed.png);
}
#resourcesStatWater:before {
  content: url(../img/GUI/ic_water20.png);
}
#resourcesStatWood:before {
  content: url(../img/GUI/ic_wood20.png);
}
#secondaryStats {
  display: block!important;
}
#nameElement {
  font-size: 22px;
  vertical-align: middle;
}
#lifeElement {
  font-size: 15px;
  vertical-align: middle;
  background: none;
  margin-top: 4px;
}


/**
*   SELECTED UNITS LIFE BAR COLORS
*/
.veryHighLife {
  background: #299a0b; /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #299a0b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #299a0b 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #299a0b 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #299a0b 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
div.veryHighLife {
  color: #299a0b;
}
.highLife {
  background: #FFE100; /* Old browsers */
  background: -moz-linear-gradient(top, #FFE100 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE100), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFE100 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFE100 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFE100 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FFE100 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE100', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
div.highLife {
  color: #FFE100;
}
.mediumLife {
  background: #FF7700; /* Old browsers */
  background: -moz-linear-gradient(top, #FF7700 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF7700), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FF7700 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FF7700 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FF7700 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FF7700 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7700', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
div.mediumLife {
  color: #FF7700;
}
.lowLife {
  background: #cc0000; /* Old browsers */
  background: -moz-linear-gradient(top, #cc0000 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cc0000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cc0000 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cc0000 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cc0000 0%,#000000 100%); /* W3C */
}
div.lowLife {
  color: #cc0000;
}

#selectionRectangle {
  position: absolute;
  border: 2px solid #3f3;
  opacity: 0.8;
}



.tooltip .price {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.tooltip .price img {
  padding-right: 6px;
}


















#i {
    opacity: 0.8;
    text-align: center;
}

.victory {
    color : #0d0;
}

.defeat {
    color : #d00;
}

#returnHome {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#returnHome a {
    font-size: 2.2em;
}


#messages {
  position: absolute;
  top: 80px;
  left: 20px;
}

#messages div div {
  font-size: 1.2em;
  color: #111;
  margin-bottom: 5px;
  padding: 10px;
  opacity: 0.7;
  float: left;
}

.fadeOut {
  opacity: 0!important;
}


.disabled {
    opacity: 0.5;
}

.spriteBefore:before {
  float: left;
  content: "";
  margin-right: 5px;
}


#chat {
  position: absolute;
  font-size: 1.2em;
  color: #ddd;
  background: #000;
  opacity: 0.8;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
}

#endGameStats {
    position: relative;
    top: 250px;
    left: 30px;
}

#endGameStats table tr th, #endGameStats table tr td {
    text-align: center;
}

.red {
    background: #C41616;
}

.blue {
    background: #9E9EF0;
}

.green {
    background: #70CC83;
}

.yellow {
    background: #EDC71C;
}

.black {
    background: #000;
}

.white {
    background: #eee;
}


#firstHalfInfo {
    display: inline-block;
    width: 200px;
}

#firstHalfInfo div {
    display: inline-block;
    width: 130px;
}

#secondHalInfo {
    display: inline-block;
    width: 150px;
}

#firstHalfInfo #portrait {
    display: inline-block;
    height: 35px;
    width: 40px;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 20px;
}

#name {
    margin-top: 15px;
    font-size: 0.9em;
    line-height: 20px;
}

#life {
    font-weight: bold;
    font-size: 0.9em;
    line-height: 20px;
}

#frags {
  position: absolute;
  left: -14px;
  bottom: 4px;
  font-size: 0.5em;
}

#stats {
    display: inline-block;
    width: 130px;
    padding-right: 10px;
}

#stats div {
    line-height: 20px;
}

#stats div img {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.minimapPointBuilding {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

.minimapPointUnit {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 4px;
}

#diplomacy {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #111;
}

.smallButton {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 4px;
    -webkit-box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.6);
    box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.6);
    margin-right: 10px;
    border-radius: 3px;
}

#diplomacy .customRadio {
  opacity: 0.2;
}

#diplomacy .checked {
  background: #eee;
  opacity: 0.6!important;
}

#diplomacy .customRadio:hover {
    background: #ccc;
}



/**
*  SPRITES
*/
.bigButton .spriteBefore:before {
  margin-top: 19px; margin-right: 27px;
}
.toolbarButton .sprite {
  position: relative;
  top: 15px;
  left: 15px;
}
.queue .sprite {
  position: relative;
  top: 6px;
}

/**
* TO UPDATE WHEN "sprite.png" IS UPDATED
*/
.toolbarButton.sprite-boxNormal:hover {
  background-position: -1003px 0; width: 80px; height: 80px;
}

.sprite-attack:before{ background-position: 0 0; width: 20px; height: 20px; } 
.sprite-attackSpeed:before{ background-position: -30px 0; width: 20px; height: 20px; } 
.sprite-bgInfo{ background-position: -60px 0; width: 350px; height: 70px; } 
.sprite-bgMinimap{ background-position: -420px 0; width: 140px; height: 140px; } 
.sprite-bgPop{ background-position: -570px 0; width: 118px; height: 59px; } 
.sprite-bgResources{ background-position: -698px 0; width: 210px; height: 60px; } 
.sprite-bowman{ background-position: -918px 0; width: 50px; height: 50px; } 
.sprite-bowman15{ background-position: -978px 0; width: 15px; height: 15px; } 
.sprite-boxNormal{ background-position: -1093px 0; width: 80px; height: 80px; } 
.sprite-boxSelect{ background-position: -1183px 0; width: 80px; height: 80px; } 
.sprite-build{ background-position: -1273px 0; width: 50px; height: 50px; } 
.sprite-cancel{ background-position: -1333px 0; width: 50px; height: 50px; } 
.sprite-casern{ background-position: -1393px 0; width: 50px; height: 50px; } 
.sprite-castle{ background-position: -1453px 0; width: 50px; height: 50px; } 
.sprite-defense{ background-position: -1513px 0; width: 20px; height: 20px; } 
.sprite-forest{ background-position: -1543px 0; width: 50px; height: 50px; } 
.sprite-gold-mine{ background-position: -1603px 0; width: 50px; height: 50px; } 
.sprite-gold:before{ background-position: -1663px 0; width: 28px; height: 28px; } 
.sprite-gold15:before{ background-position: -1701px 0; width: 15px; height: 15px; } 
.sprite-house{ background-position: -1726px 0; width: 50px; height: 50px; } 
.sprite-human:before{ background-position: -1786px 0; width: 30px; height: 22px; } 
.sprite-knight{ background-position: -1826px 0; width: 50px; height: 50px; } 
.sprite-knight15{ background-position: -1886px 0; width: 15px; height: 15px; } 
.sprite-minimapLocation{ background-position: -1911px 0; width: 16px; height: 16px; } 
.sprite-music:before{ background-position: -1937px 0; width: 15px; height: 15px; } 
.sprite-peon{ background-position: -1962px 0; width: 50px; height: 50px; } 
.sprite-peon15{ background-position: 0 -150px; width: 15px; height: 15px; } 
.sprite-playerName:before{ background-position: -25px -150px; width: 30px; height: 30px; } 
.sprite-pop20:before{ background-position: -65px -150px; width: 20px; height: 20px; } 
.sprite-population:before{ background-position: -95px -150px; width: 28px; height: 28px; } 
.sprite-range:before{ background-position: -133px -150px; width: 20px; height: 20px; } 
.sprite-stone:before{ background-position: -163px -150px; width: 40px; height: 40px; } 
.sprite-swordsman{ background-position: -213px -150px; width: 50px; height: 50px; } 
.sprite-swordsman15{ background-position: -273px -150px; width: 15px; height: 15px; } 
.sprite-tower{ background-position: -298px -150px; width: 50px; height: 50px; } 
.sprite-wood:before{ background-position: -358px -150px; width: 28px; height: 28px; } 
.sprite-wood15:before{ background-position: -396px -150px; width: 15px; height: 15px; } 