@font-face {
    font-family: 'godofwar';
    /*src: url('linlibertine_r-webfont.eot');*/
    src: local('godofwar'),
         url('godofwar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: 'godofwar';
    color: #eee;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-device-width:768px) and (orientation:landscape) {
    html {-webkit-text-size-adjust:50%}
}


.fullScreen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.easeTransition {
    -webkit-transition: all 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -moz-transition: all 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -ms-transition: all 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

button {
    font-family: 'godofwar';
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    -webkit-box-shadow:0px 0px 10px 5px rgba(100, 100, 100, 0.6);
    box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.6);
    border-radius: 3px;
    background: #111;
    color: #ccc;
}

button:hover {
    background-color: #eee;
    color : #333;
}

a {
  color: #eee;
}

a:hover {
  text-decoration: none;
  color: #aaa;
}

.redLink {
  color: #c22;
}


/**
*   HEADER
**/
header {
    position: absolute;
    top: 5px;
    left : 5px;
    padding: 10px;
    background: #111;
    -webkit-box-shadow: 2px 2px 5px 4px rgba(150, 150, 150, 0.7);
    box-shadow: 2px 2px 5px 4px rgba(150, 150, 150, 0.7);
    -moz-box-shadow: 2px 2px 5px 4px rgba(150, 150, 150, 0.7);
    -o-box-shadow: 2px 2px 5px 4px rgba(150, 150, 150, 0.7);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, Direction=180, Strength=5);
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    z-index: 1000;
}
header #playerName input:hover {
    color: #aaa;
}
header #playerName input {
    min-width: 250px;
    background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 26px;
    color: #eee;
    font-family: 'godofwar';
    cursor: pointer;
}
header #music {
    color: #C41616;
    font-size: 13px;
    cursor: pointer;
    line-height: 15px;
    padding-top: 5px;
    border-top: 1px solid #222;
}
header #music.musicEnabled {
    color: #70CC83;
}
header #armies label {
    display: inline-block;
    width: 35%;
}


/**
*   FOOTER
*/
footer {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
}
footer a:hover {
  opacity: 0.5;
}
footer span {
  margin-right: 5px;
}
#twButton, #aboutButton {
  margin-right: 10px;
}
#creditsButton, #aboutButton {
  margin-left: 10px;
}


/**
*   MAIN BUTTONS
*/
#mainButtons {
    position: absolute;
    top: -100%;
    text-align: center;
}


/**
*   NEW GAME SCREEN
*/
#newGame input, #newGame select{
    float: right;
}
#newGame legend {
    color: #ddd;
    text-align: left;
}
#newGame label {
    margin-top: 30px;
}
#confirmGameCreation {
    margin-top: 50px;
    background: #5a5;
}
.modal-footer {
    background: #111;
    padding-bottom: 0px;
    border-top: 1px solid #111;
    box-shadow: none;   
}
#confirmGameCreation:hover {
    background: #eee;
}
.cancelButton {
    margin-top: 50px;
    background: #a22!important;
}
.cancelButton:hover {
    background: #eee!important;
}


/**
*   LOADING SCREEN
*/
#loadingScreen {
    font-size: 4.0em;
    text-align: center;
    background-color: #000;
}
#loadingScreen #loadingProgress, #loadingScreen #loadingLabel {
    position: relative;
    top: 25%;
}
.one {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.0s;
}
.two {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.1s;
}
.three {
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    -webkit-animation-delay: 0.2s;
}
@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
#loadingProgress {
    width: 60%;
    margin-top: 70px;
}


/**
*   POPUPS
*/
.modal {
    background-color: #111;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(150, 150, 150, 0.7);
    box-shadow: 0px 0px 5px 2px rgba(150, 150,150, 0.7);
    color : #ddd;
    opacity: 0.9;
}
.modal h3 {
    text-align: center;
}
.modal p {
    font-size: 1.2em;
}




#lstGames .joinableGame span {
  font-size: 0.7em;
  opacity: 0.8;
  margin-left: 40px;
}

#noGames {
  color: #111;
  font-size: 1.5em;
}

#lstGames .backButton {
  margin-top: 60px;
}

#igPlayersList {
  position: absolute;
  top: 250px;
  width: 100%;
  text-align: center;
  font-size: 2.0em;
}

#igPlayersList div {
  line-height: 40px;
  opacity: 0.7;
}