@font-face {
    font-family: 'godofwar';
    /**src: url('linlibertine_r-webfont.eot');**/
    src: local('godofwar'),
         url('godofwar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	padding: 0;
	height: 100%;
    background-color: #000;
    font-family: 'godofwar';
    color: #eee;
    overflow: hidden;
}

canvas {
	background-color: #000;
}

#resources {
    background: url('../js/game/data/g/bgResources.png') center center no-repeat;
    position: absolute;
    top: 2px;
    left: 124px;
    width: 210px;
    height: 60px;
    text-align: center;
}

#resources div {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
}

#resources div img {
    padding: 2px;
    width : 28px;
}

#toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
}

#toolbar .toolbarButton {
    height: 72px;
    width: 72px;
    background: url('../js/game/data/g/boxNormal.png') center center no-repeat;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#toolbar .toolbarButton div {
    text-align: center;
}

#toolbar .toolbarButton img {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.toolbarButton:hover {
    background-image: url('../js/game/data/g/boxHover.png')!important;
}

.selected {
    background-image: url('../js/game/data/g/boxSelect.png')!important;
    cursor: default!important;
}

.disabled {
    opacity: 0.5;
    cursor: default!important;
}

#population {
    background: url('../js/game/data/g/bgPop.png') center center no-repeat;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 120px;
    height: 60px;
    text-align: center;
}

#population div {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    vertical-align: middle;
}

#population img {
    padding: 2px;
    width : 28px;
    margin-right: 10px;
}



/*** INTROSCREEN ***/

.fullScreen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.blackBackground {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fullScreenTitle {
    position: absolute;
    top : 10%;
    left: 100%;
    width: 100%;
    text-align: center;
    font-size: 55px;
    background: #eee;
    line-height: 120px;
    color: #111;
    opacity:0.7;
}

.easeTransition {
    -webkit-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -moz-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

.moveToLeft {
    left: 0%;
}

.hideToLeft {
    left: -100%;
}

.moveToTop {
    top: 50%!important;
}

#armies {
    position: absolute;
    top : 100%;
    left : 10%;
}

.armyBox {
    display: inline;
    font-size: 25px;
    background-color: #55a;
    text-align: center;
    cursor: pointer;
    line-height: 110px;
    padding: 30px;
    opacity:0.7;
}

.armyBox:hover {
    background-color: #eee;
    color : #ddd;
}

.armyBox img {
    margin-right: 20px;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

#footer {
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 100%;
    display: none;
}

#footer a {
    color: #111;
    margin-right: 15px;
}

.popup {
    position: absolute;
    background: #000;
    padding: 30px;
    -webkit-box-shadow:-10px -10px 40px 20px rgba(0, 0, 0, 0.7);
    box-shadow:-10px -10px 40px 20px rgba(0, 0, 0, 0.7);
    color : #ddd;
    font-size: 1.4em;
    opacity: 0.9;
}

.popup h1 {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

#about p, #credits p {
    text-align: center;
}

#about {
    width: 700px;
}

#linkAbout {
    font-size: 1.5em;
}

#endGame {
    opacity: 0.8;
    text-align: center;
}

.victory {
    color : #0d0;
}

.defeat {
    color : #d00;
}

#returnHome {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#returnHome a {
    color: #000;
    font-size: 2.2em;
}

#endGameStats {
    position: relative;
    top: 200px;
    left: 30px;
}

#endGameStats table tr th, #endGameStats table tr td {
    text-align: center;
}

.red {
    background: #a22;
}

.blue {
    background: #22a;
}

.black {
    background: #000;
}






#info {
    background: url('../js/game/data/g/bgInfo.png') center center no-repeat;
    position: absolute;
    bottom: 6px;
    height: 70px;
    width: 350px;
    text-align: center;
}

#firstHalfInfo {
    display: inline-block;
    width: 200px;
}

#firstHalfInfo div {
    display: inline-block;
    width: 130px;
}

#secondHalInfo {
    display: inline-block;
    width: 150px;
}

#portrait {
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 20px;
}

#name {
    margin-top: 15px;
    font-size: 0.9em;
}

#life {
    font-weight: bold;
    font-size: 0.9em;
}

#stats {
    display: inline-block;
    width: 130px;
    padding-right: 10px;
}

#stats div {
    line-height: 20px;
}

#stats div img {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

#stats div div {
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 10px;
}

.stat {
    display: inline-block;
    width: 48%;
}

.queue {
    display: inline-block;
    width: 15%;
}

.queue div {
    position: absolute;
    top: 37px;
    left: 188px;
    color: rgb(224, 188, 25);
    font-weight: bold;
    font-size: 0.9em;
}

#toolbar .price {
    position: absolute;
    bottom: 0px;
    left: 80px;
    width: 50px;
    line-height: 15px;
    font-size: 0.5em;
}

#toolbar .price img {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: 0px;
    margin-right: 3px;
}

#minimap {
    position: absolute;
    right: 8px;
    bottom: 8px;
    height: 80px;
    width: 80px;
    opacity: 0.7;
    background: url('../js/game/data/g/bgMinimap.png') center center no-repeat;
    border-radius: 10px;
}

#minimapLocation {
    position: relative;
}